body{
  background-color: #000011;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.profile{
  width: 30%;
  height: auto;
  background: #E3E2D4;E3E2D4
  margin: 2%;
  padding: 1%;
  border: 2px solid #72A2F1;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.content{
  width: 70%;
  height: auto;
  background: #E3E2D4;
  margin: 2%;
  padding: 1%;
  border: 2px solid #72A2F1;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
img{
  padding-top: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  height: 125px;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  vertical-align: middle;
}
h2,h3{
  color: #333;
  text-align: center;
}
a{
  text-decoration: none;
  color: #000;
  background-color: #72A2FF;

}
a:hover{
  background-color: #E3E2D4;
  color: #72A2FF;
  font-weight:bolder;
}
p{
  font-size: 18px;
}
table{
  text-align: center;
  width: 100%;
  font-size: 18px;
}
th{
  ;
}
@media only screen and (min-width:0px) and (max-width:480px) {
  body{
    background-color: #110000;
  }
  .flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    width: 100%;
    height: auto;
    background: #E3E2D4;E3E2D4
    margin: 1%;
    padding: 0%;
    border: 2px solid #F172A2;
  }
  .content{
    width: 100%;
    height: auto;
    background: #E3E2D4;
    margin: 1%;
    padding: 0%;
    border: 2px solid #F172A2;

  }
  a{
    text-decoration: none;
    color: #000;
    background-color: #FF72A2;

  }
  a:hover{
    background-color: #E3E2D4;
    color: #FF72A2;
    font-weight:bolder;
  }
}
@media only screen and (min-width:480px) and (max-width:720px) {
  .flex-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body{
    background-color: #001100;
  }
  .profile{
    width: 100%;
    height: auto;
    background: #E3E2D4;E3E2D4
    margin: 1%;
    padding: 0%;
    border: 2px solid #72F1A2;
  }
  .content{
    width: 100%;
    height: auto;
    background: #E3E2D4;
    margin: 1%;
    padding: 0%;
    border: 2px solid #72F1A2;
  }
  a{
    text-decoration: none;
    color: #000;
    background-color: #72FFA2;

  }
  a:hover{
    background-color: #E3E2D4;
    color: #72FFA2;
    font-weight:bolder;
  }
}
@media only screen and (min-width:720px) and (max-width:1024px) {
  .flex-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body{
    background-color: #000f0f;
  }
  .profile{
    width: 100%;
    height: auto;
    background: #E3E2D4;E3E2D4
    margin: 1%;
    padding: 0%;
    border: 2px solid #72d177;
  }
  .content{
    width: 100%;
    height: auto;
    background: #E3E2D4;
    margin: 1%;
    padding: 0%;
    border: 2px solid #72d177;
  }
  a{
    text-decoration: none;
    color: #000;
    background-color: #72d177;

  }
  a:hover{
    background-color: #E3E2D4;
    color: #72d177;
    font-weight:bolder;
  }
}
